.Timeline {
  padding: 0 10px 7.5px 10px;
  position: relative;

  display: grid;
  grid-template-areas:
  'LeftTitle null      RightTitle'
  'Left      LeftYears Right';
  grid-template-columns: 1fr min-content 1fr;
  grid-template-rows: min-content auto;
}
.Timeline::after {
  content: "";
  border-bottom: 2px dashed black;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
}

.LeftTitle, .RightTitle {
  margin: 0.25rem 1rem 0.5rem 1rem;

  font-family: monospace;
  font-size: 18px;
  font-weight: 700;
}

.LeftTitle {
  grid-area: LeftTitle;
  text-align: right;
  margin-right: 5px;
}
.Left {
  grid-area: Left;
  position: relative;
}
.RightTitle {
  grid-area: RightTitle;
  text-align: left;
  margin-left: 5px;
}
.Right {
  grid-area: Right;
  position: relative;
}

.Bars > * {
  position: absolute;
  width: 10px;
}
.Left > .Bars > * {
  right: 5px;
}
.Right > .Bars > * {
  left: 5px;
}

.Items {
  min-height: 100%;

  display: grid;
  justify-content: center;
  align-content: space-around;
  align-items: stretch;
  grid-gap: 2rem;
  grid-template-columns: 100%;
}
.Left > .Items {
  margin-right: 25px;
}
.Right > .Items {
  margin-left: 25px;
}

.Items > div {
  padding: 5px;
}
.Items > div > a {
  color: black;
  text-decoration: none;
}
.Items > div p {
  font-family: sans-serif;
  font-size: 12px;
}

.Items {
  font-family: monospace;
  text-align: left;
}
.Items h1 {
  font-size: 16px;
  margin: 0;
}
.Items h2 {
  font-size: 14px;
  margin: 0;
}
.Items ul {
  padding-left: 0.75rem;
  margin-top: 0.25rem;
}

@media only screen and (max-width: 700px) {
  .Timeline {
    grid-template:
      'RightTitle RightTitle' min-content
      'Right      RightYears' auto
      'null       null'       25px
      'LeftTitle  LeftTitle'  min-content
      'Left       LeftYears'  auto
      / 1fr min-content;
  }
  .Left > .Bars > *, .Right > .Bars > * {
    right: 5px;
    left: auto;
  }
  .Left > .Items, .Right > .Items {
    margin-left: 0px;
    margin-right: 25px;
  }
  .LeftTitle, .RightTitle {
    text-align: left;
    margin-left: 0;
    margin-right: 0;
    font-size: 20px;
  }
}
