.Footer {
  grid-area: Footer;

  padding: 5px 35px;
  position: relative;

  display: grid;
  grid-template-areas: 'Links Buttons';
  align-items: center;
}
.Footer .Links {
  grid-area: Links;
  text-align: left;
  font-size: 10px;
}
.Footer .Buttons {
  grid-area: Buttons;
  text-align: right;
  font-size: 14px;
  font-family: monospace;
}
.Footer .Buttons > div {
  display: grid;
  grid-gap: 7.5px;
  grid-auto-flow: column;
  justify-content: right;
  grid-template-columns: min-content min-content;
  grid-template-rows: 100%;
}

@media only screen and (max-width: 700px) {
  .Footer {
    padding: 5px 10px;
  }
  .Footer .Links span {
    float: left;
    clear: both;
  }
  .Footer .Links a {
    float: left;
    clear: both;
  }
  .Footer .Buttons > div {
    grid-gap: 2.5px;
    grid-auto-flow: row;
    grid-template-columns: auto;
    grid-template-rows: min-content min-content;
  }
}

@media print {
  .Footer .Buttons {
    display: none;
  }
}
