.Header {
  padding: 10px 35px 0 35px;

  display: grid;
  grid-template-areas:
    'Name  Contacts'
    'Links Contacts';
  grid-template-columns: max-content auto min-content;
  grid-template-rows: min-content min-content;
}

.Header .Name {
  grid-area: Name;
  margin: 0;

  font-family: monospace;
  font-size: 48px;
  text-align: left;

  display: flex;
  align-items: center;
}

.Header .Links {
  grid-area: Links;

  text-align: center;

  display: grid;
  grid-gap: 1px;
  align-items: center;
  justify-content: left;
}
.Header .Links > * {
  grid-row: 1;
}

.Header .Contacts {
  grid-area: Contacts;

  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: start;
}
.Header .Contacts > * {
  width: 100%;
  text-align: right;
  padding: 1px;
}
.Header .Contacts * {
  text-decoration: none;
  font-family: monospace;
  color: black;
  font-weight: 400;
  font-size: 14px;
}
